/* Set color variables */
:root {
    --background-pink: #ffd7fb;
    --highlight-green: #c4ff00;
    --background-blue: #bae4ff;
    --background-green: #8af790;
    --plain-white: #ffffff;
}

#root {
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--background-pink);
    font-size: small;
}

h1 {
    font-size: xxx-large;
    font-weight: 700;
}

h2 {
    font-size: x-large;
    font-weight: 400;
}

#hero-button {
    border-width: 0.1em;
    font-size: x-large;
    cursor: pointer; 
    display: block;
    align-self: flex-end;
    /* NO ENCUENTRO UNA PUTA IMAGEN PNG DE SPOTIFY PARA EL BOTON ME CAGO EN TODO */
}

button:hover {
    background-color: #282828;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 30px;
    margin: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #000000 solid 2px;
}

.playlist-card {
    background-color: #ffffff;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 260px;
}

.bold-photo {
    width: 260px;
    height: 260px;
    border: #000000 solid 2px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* Adjust the offset and color as needed */
}

.card-text {
    text-align: justify;
    width: 100%;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.highlight-button {
    font-weight: 400;
    padding: 0.4em 0.8em;
    border: #000000 solid 0.15em;
    background-color: var(--highlight-green);
    border-radius: 0;
    color: #000000;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.card-text {
    width: 100%;
    height: 125px;
    overflow: hidden;
}

.card-text h3 {
    font-size: large;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px 0;
}

.card-text p {
    text-align: justify;
    font-size: small;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines before ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
}

nav {
    display: flex;
    justify-content: start;
    width: 100%;
    position: fixed;
    background-color: var(--plain-white);
    top: 0;
    left: 0;
    border-bottom: #000000 solid 2px;
}

nav .navbar-item {
    padding: 10px 20px;
    font-size: large;
    border-right: #000000 solid 2px;

}

main {
    padding-top: 3rem;
    height: calc(100vh - 3rem);
}

#playlists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-container {
    display: flex;
    text-align: left;
    height: calc(100% - 60px);
    margin: 30px;
}

#login-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 60%;
    margin-right: 30px;
}

#login-hero-text {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

#login-hero h1 {
    margin-bottom: 0;
}

#login-content {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#features-card {
    background-color: var(--background-blue);
    height: 85%;
    margin-bottom: 30px;
}

#footer {
    background-color: var(--background-green);
    height: 15%;
}