/* Set color variables */
:root {
    --background-pink: #ffd7fb;
    --highlight-green: #c4ff00;
    --secondary-color: #1DB954;
    --plain-white: #ffffff;
}

#root {
    width: 100vw;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--background-pink);
    font-size: small;
}

.spotify-login-button {
    font-family: 'Forum', sans-serif;
    font-size: 20px; 
    background-color: #1DB954; 
    color: #ffffff; 
    padding: 15px 100px; 
    border: none; 
    border-radius: 70px; 
    cursor: pointer; 
    display: block;
    margin: auto;
    margin-top: 50px;
    /* NO ENCUENTRO UNA PUTA IMAGEN PNG DE SPOTIFY PARA EL BOTON ME CAGO EN TODO */
}

button:hover {
    background-color: #282828;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    gap: 30px;
    margin: 30px;
}

.playlist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: #000000 solid 2px;
    width: 260px;
}

.bold-photo {
    width: 260px;
    height: 260px;
    border: #000000 solid 2px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* Adjust the offset and color as needed */
}

.card-text {
    text-align: justify;
    width: 100%;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.highlight-button {
    border: #000000 solid 2px;
    background-color: var(--highlight-green);
    border-radius: 0;
    color: #000000;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.card-text {
    width: 100%;
    height: 125px;
    overflow: hidden;
}

.card-text h3 {
    font-size: large;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px 0;
}

.card-text p {
    text-align: justify;
    font-size: small;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines before ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
}

nav {
    display: flex;
    justify-content: start;
    width: 100%;
    position: fixed;
    background-color: var(--plain-white);
    top: 0;
    left: 0;
    border-bottom: #000000 solid 2px;
}

nav .navbar-item {
    padding: 10px 20px;
    font-size: large;
    border-right: #000000 solid 2px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}