:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-pink: #ffd7fb;
  --highlight-green: #c4ff00;
  --background-blue: #bae4ff;
  --background-green: #8af790;
  --plain-white: #ffffff;
}

#root {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-weight: 400;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

main {
  padding-top: 3rem;
  height: calc(100vh - 3rem);
}

body {
  background-color: var(--background-pink);
  font-size: small;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: xxx-large;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: x-large;
  font-weight: 400;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #282828;
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  gap: 30px;
  margin: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: #000000 solid 2px;
}

.card-text {
  text-align: justify;
  width: 100%;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.highlight-button {
  font-weight: 400;
  padding: 0.4em 0.8em;
  border: #000000 solid 0.15em;
  background-color: var(--highlight-green);
  border-radius: 0;
  color: #000000;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.card-text {
  width: 100%;
  height: 125px;
  overflow: hidden;
}

.card-text h3 {
  font-size: large;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 10px 0;
}

.card-text p {
  text-align: justify;
  font-size: small;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Number of lines before ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
}
