
#login-container {
    display: flex;
    text-align: left;
    height: calc(100% - 60px);
    margin: 30px;
}

#hero-button {
    border-width: 0.1em;
    font-size: x-large;
    cursor: pointer; 
    display: block;
    align-self: flex-end;
}

#login-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    width: 60%;
    margin-right: 30px;
}

#login-hero-text {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

#login-hero h1 {
    margin-bottom: 0;
}

#login-content {
    width: 40%;
    display: flex;
    flex-direction: column;
}

#features-card {
    padding: 20px;
    background-color: var(--background-blue);
    height: 90%;
    margin-bottom: 30px;
}

#footer {
    padding: 20px;
    background-color: var(--background-green);
    height: 10%;
}

#login-content h2 {
    width: 100%;
}